<h1>About</h1>

<p>
  A real About page will eventually come. <br>
  This site is supposed to be a kind of show-room of projects, examples of AI written in Ruby.
  Feel free to contribute or get in touch for ideas!
</p>