<div class="center hero-unit">
  <h1>Welcome to RubyAiWeb</h1>

  <h3>
    <%= link_to 'The show-room for AI written in Ruby!' %>
  </h3>
  <br/>
  <% if !user_signed_in? %>
    <%= link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-large btn-primary' %>
  <% else %>
    <%= link_to "User's page", current_user, class: 'btn btn-large btn-primary' %>
  <% end %>
</div>

<div class="row">
  <div class="span4 offset3">
    <h2>Experiences</h2>
    <p><%= link_to "Genetic Typer", experiences_genetic_typer_path %></p>
  </div>

  <div class="span3">
    <h2>Games</h2>
    <p>Coming ...</p>
  </div>
</div>
